<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>

<%# content_for :sidebar do -%>
	<%#*<h2>Sidebar</h2>%>
	
	<%#*<ul>%>
		<%#*<li><a href="#">Link to someplace</a></li>%>
		<%#*<li><a href="#">Link to someplace</a></li>%>
		<%#*<li><a href="#">Link to someplace</a></li>%>
		<%#*<li><a href="#">Link to someplace</a></li>%>
	<%#*</ul>%>
		
	<%#*<ul>%>
		<%#*<li><a href="#">Link to someplace</a></li>%>
	<%#*</ul>%>
		
	<%#*<p>%>
		<%#*</p>%>
<%# end -%>

<p>
	
</p>

<p>
	 
</p>

<table class="index">
	<tr>
		<th></th>
		<th> </th>
		<th> </th>
	</tr>
	<tr>
		<td class="text"></td>
		<td class="number"></td>
		<td class="currency"></td>
	</tr>	
</table>